manifest {
    mainScript = 'main.nf'
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = true

        process {
        	$trimming_pe {
        		container = 'jdidion/atropos'
        		cpus = 10
        		memory = params.mem
        	}
        }
    }

    planet {
        executor = 'sge'
        docker.enabled = false

        process {
            $trimming_pe {
                clusterOptions = '-S /bin/bash -l h_vmem=1G'
                time = '24h'
                penv = 'smp'
                cpus = 10
                module = 'atropos'
            }
          }
    }
}
