manifest {
    mainScript = 'main.nf'
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = true

        process {
        	$trimming_pe {
        		container = 'jdidion/atropos'
        		cpus = 10
        		memory = params.mem
        	}
          $fastqc {
        		container = 'hadrieng/fastqc'
        		cpus = 10
        		memory = params.mem
        	}
          $multiqc {
        		container = 'ewels/multiqc'
        		cpus = 10
        		memory = params.mem
        	}
          $assembly {
            container = 'hadrieng/unicycler:0.4.5'
            cpus = 10
            memory = params.mem
          }
        }
    }

    planet {
        executor = 'sge'
        docker.enabled = false

        process {
            $trimming_pe {
                clusterOptions = '-S /bin/bash -l h_vmem=1G'
                time = '24h'
                penv = 'smp'
                cpus = 10
                module = 'atropos'
            }
            $fastqc {
                    clusterOptions = '-S /bin/bash -l h_vmem=1G'
                    time = '24h'
                    penv = 'smp'
                    cpus = 10
                    module = 'fastqc'
                }
            $multiqc {
                        clusterOptions = '-S /bin/bash -l h_vmem=1G'
                        time = '24h'
                        penv = 'smp'
                        cpus = 10
                        module = 'multiqc'
                    }
            $assembly {
                                clusterOptions = '-S /bin/bash -l h_vmem=1G'
                                time = '24h'
                                penv = 'smp'
                                cpus = 10
                                module = 'unicycler'
                            }
          }
    }
}
